/* global */

*{
    box-sizing: border-box;
}

html {
    font-size: 14px;
    font-family: Trubechet MS;
    background-color: #368FA2;
    color: #0D2F1C;
}

a {
    color: #553F2D;
    font-weight: bolder;
    text-decoration: none;
}

h1 { 
    font-size: 16px;
    font-weight: bolder;
}

/* index.html */

.container {
    margin: 20px;
    padding: 20px;
}

.subforum {
    margin-top: 20px;
}

.title-row {
    background-color: #657445;
    padding: 5px;
    border-radius: 5px;
    margin: 4px;
}

.subforum-title *{
    margin-block: 0;
}

.subforum-row {
    display: grid;
    grid-template-columns: 10% 60% 10% 20%;
}

.subforum-column {
    padding: 10px;
    margin: 4px;
    border-radius: 5px;
    background-color: #657445;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subforum-icon img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* make the display responsive for smartphones */
@media screen and (max-width: 460px) {
    .container {
        margin: 10px;
        padding: 10px;
    }
    .subforum-row {
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: 65% 35%;
    }
    .subforum-stats {
        font-size: 12px;
    }
}

/* make the display responsive for tablets */
@media screen and (min-width: 460px) and (max-width: 1024px) {
    .container {
        margin: 15px;
        padding: 15px;
    }
    .subforum-row {
        display: grid;
        grid-template-columns: 10% 60% 10% 20%;
    }
    
    .subforum-icon img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }
    
    html {
        font-size: 16px;
    }

    h1 {
        font-size: 18px;
    }
}

/*navbar*/

header {
    margin-inline: 10px;
}

.navbar {
    display: flex;
    align-items: center;
}

.navigation {
    background-color: #657445;
    padding: 10px;
    width: 65%;
    display: inline-block;
    border-radius: 5px;
    max-height: 80px;
    margin-right: 10px
}

.nav-list {
    list-style-type: none;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}

.nav-item a{
    float: right;
    display: block;
    text-align: center;
    margin-inline: 20px;
    font-size: 20px;
    padding: 10px;
    color: #0D2F1C;
}

.nav-item a:hover{
    background-color: #0D2F1C;
    color: #657445;
    border-radius: 5px;
}

.close-nav {
    margin-right: auto;
    display: flex;
    align-items: center;
}

.close-nav img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
    cursor: pointer;
}

.hide {
    display: none;
}

.nav-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

.title {
    font-size: 45px;
    display: inline-block;
}

/* responsive navbar for smarthphones and tablets */
@media screen and (max-width: 1024px) {
   
    .navigation {
        max-height: auto;
    }
    
    .nav-item a{
        float: left;
        display: inline;
        text-align: center;
        margin-inline: 3px;
        font-size: 12px;
        padding: 7px;
    }

    .nav-item a:hover{
        background-color: #0D2F1C;
        color: #657445;
        border-radius: 5px;
    }
    
    .hide {
        display: none;
    }
    
    .close-nav img{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: inline;
        cursor: pointer;
    }

    .nav-icon img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: inline;
        margin-right: 5px;
        cursor: pointer;
    }
    
    .title {
        font-size: 45px;
        display: inline;
    }
}

/* searchbar */

}